<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
        <img src="#" width="30" height="30" alt="" loading="lazy">
        <span class="navbar-brand mb-0 h1">Navbar</span>
        </a>
    </nav>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link"  href="#">Cart <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="login" >Login</a>
        </li>
        <li ngbDropdown  class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mosh Hamani
          </a>
          <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a ngbDropdownItem class="dropdown-item" href="#">My Orders</a>
            <a ngbDropdownItem  class="dropdown-item" href="#">Manage Orders</a>
            <a ngbDropdownItem class="dropdown-item" href="#">Manage Products</a>
            <div ngbDropdownItem class="dropdown-divider"></div>
            <a ngbDropdownItem class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>