
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            
            <ul class="list-group">
                <li class="list-group-item " [class.active]="category_type=='All'" (click)="getAllProducts()">All Categories</li>
                <li *ngFor="let category of categories" [class.active]="category.category===category_type" class="list-group-item" (click)="getProductsByCategory(category.categoryId,category.category)">{{category.category}}</li>\
              </ul>
        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-around">
                <div *ngFor="let product of products" class=" product">
                    <div class="card" style="width: 14rem;">
                        <img [src]="product.imageUrl"  class="card-img-top " alt="...">
                        <div class="card-body">
                            <b>{{product.title}}</b><br>
                            {{product.price | currency: 'රු .'}}
                            <div class="perform-cart"><button class="btn btn-success " (click)="addProduct(product)">Add To Cart</button></div>
                        </div>
                      </div>
                </div>
                </div>
        </div>
    </div>
</div>