<div class="container-fluid">
  <a routerLink="/system/add/product"><button type="button" class="btn btn-outline-success btn-sm">ADD NEW PRODUCT</button></a>
<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td><img class="product-image" [src]="product.imageUrl" ></td>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>{{product.category.category}}</td>
        <td><a [routerLink]="['/system/update/product',product.productId]">edit</a></td>
      </tr>
    </tbody>
  </table>
</div>