<p>
    <button type="button" class="btn btn-outline-success add-category" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      ADD CATEGORY
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
            <div class="category-div">
                <input  type="text" name="category" [(ngModel)]="category" >
                <button (click)="addNewCategory()" type="submit" class="btn btn-outline-success add-category">ADD</button>
            </div>
      </div>
    </div>
  </div>