<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a routerLink="/system/manage/products" ><button type="button" class="btn btn-light" >&lt; Back</button></a>

<div *ngIf="error" class="alert alert-danger">
    {{error['error']}}
</div>
<div>
  <app-add-category></app-add-category>
</div>
  <div >
      <div  style="text-align: center;"><h3>Edit</h3>
         <img [src]="product.imageUrl" class="prduct-image" alt="">
      </div>
      <form #form="ngForm" (ngSubmit)="updateProduct(form)" > 
        <div class="alert alert-danger" *ngIf="form.dirty && form.invalid">
              Please fill all fields 
        </div>
        <div class="form-group">
          <label for="">Title</label>
          <input  name="title" [(ngModel)]="product.title" type="text" class="form-control" aria-describedby="emailHelp"
          required>
        </div>
        <div class="form-group">
          <label for="">Price</label>
          <input  name="price" [(ngModel)]="product.price" type="number" class="form-control"  aria-describedby="emailHelp"
          required>
        </div>
        <div class="form-group">
          <label for="">Category</label>
          <select   class="form-control form-control-sm"
          required >     
          <option *ngFor="let cate of categories"  name="category" [selected]="cate.category==hostedCategory"  >{{cate['category']}}</option>
          <option  [selected]="val">sdsd</option>  
        </select>
        </div>

        <button type="submit" class="btn btn-success">UPDATE</button>
      </form>

      
      <button type="button" class="btn btn-danger delete-btn" (click)="deleteProduct()" >DELETE&nbsp;</button>

      <!-- <div class="form-group">
        <label for="">Product Image</label>
        <input (change)="getFiles($event)" ngModel name="image" type="file" class="form-control" aria-describedby="emailHelp"
        required
        accept=".jpeg,.png,.jpg">
      </div> -->

  </div>
    </div>
  </div>
</div>